{% extends "./user/user.html.twig" %}
{% block page %}
    <div class="container">
        <div class="login-form col-md-6" style="box-shadow:0px 0px 5px #f0f0f0; padding:10px; border-radius:5px">
            <h1 class="form-heading">Update Profile</h1>
            <div class="main-div">
                <hr>
                <form id="Login" method="post">
                    <div class="form-group  {{ error.nameError is defined ? 'has-error' : '' }} has-feedback">
                        <input type="text" class="form-control" name="name" id="fullname" value="{{ error.name is defined ? error.name.value : '' }}" placeholder="Full name">
                        {% if error.nameError is defined  %}
                            <small  class="form-text text-muted ">{{error.nameError.message}}</small>
                        {% endif %}
                    </div>
                    <hr>
                    <div class="form-group {{ error.emailError is defined ? 'has-error' : '' }} has-feedback">
                        <input type="text" class="form-control  " name="email" id="inputEmail"   value="{{ error.email is defined ? error.email.value : '' }}" placeholder="Email Address">
                        {% if error.emailError is defined  %}
                            <small  class="form-text text-muted ">{{error.emailError.message}}</small>
                        {% endif %}
                    </div>
                    <hr>
                    <br />
                    <button type="submit" class="btn btn-primary">Update Profile</button>
                </form>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
